@using Backy.Models

<Modal @ref="scheduleModal" Size="ModalSize.Large" Title="Edit Schedule">
    <BodyTemplate>
        <RemoteFormSchedule @ref="scheduleForm" RemoteConnectionModel="RemoteConnectionModel" />
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-primary" @onclick="() => Save(false)">Save</button>
        <button class="btn btn-primary ms-2" @onclick="() => Save(true)">Save and Scan</button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter]
    public RemoteConnection RemoteConnectionModel { get; set; } = default!;

    [Parameter]
    public EventCallback<bool> OnSaved { get; set; }

    private Modal scheduleModal = default!;
    private RemoteFormSchedule? scheduleForm;

    public async Task ShowAsync()
    {
        await scheduleModal.ShowAsync();
    }

    private async Task CloseModal()
    {
        await scheduleModal.HideAsync();
    }

    private async Task Save(bool startScan)
    {
        if (scheduleForm != null)
        {
            scheduleForm.SaveChanges();
            await OnSaved.InvokeAsync(startScan);
            await CloseModal();
        }
    }
}
