@using Backy.Models
@using System.Text
@inject ILogger<RemoteFormFilters> Logger

<div>
    <h3>Exclude Filters</h3>
    <p>You can exclude files or directories using wildcard patterns.</p>
    <p>Examples:</p>
    <ul>
        <li><code>**/*.log</code> - Exclude all .log files</li>
        <li><code>temp/**</code> - Exclude all files in the temp directory</li>
    </ul>

    <!-- Exclude Filters -->
    <div class="mb-3">
        <label class="form-label">Exclude Filters</label>
        @foreach (var filter in ExcludeFilters)
        {
            <div class="input-group mb-2">
                <InputText class="form-control" @bind-Value="filter.Pattern" />
                <button class="btn btn-danger" type="button" @onclick="() => RemoveExcludeFilter(filter)">Remove</button>
            </div>
        }
        <button class="btn btn-secondary" type="button" @onclick="AddExcludeFilter">Add Exclude Filter</button>
    </div>
</div>

@code {
    [Parameter]
    public RemoteConnection RemoteConnectionModel { get; set; } = default!;

    private List<FilterRule> ExcludeFilters { get; set; } = new List<FilterRule>();

    protected override void OnParametersSet()
    {
        ExcludeFilters = RemoteConnectionModel.Filters
        .Where(f => !f.IsInclude)
        .Select(f => new FilterRule { Id = f.Id, Pattern = f.Pattern })
        .ToList();
    }

    private void AddExcludeFilter()
    {
        ExcludeFilters.Add(new FilterRule());
    }

    public List<FilterRule> GetUpdatedFilters()
    {
        return ExcludeFilters.Where(f => !string.IsNullOrWhiteSpace(f.Pattern)).ToList();
    }

    private void RemoveExcludeFilter(FilterRule filter)
    {
        ExcludeFilters.Remove(filter);
    }

    public void SaveChanges()
    {
        var newRules = ExcludeFilters.Where(f => RemoteConnectionModel.Filters.Exists(r => r.Pattern == f.Pattern) ==
        false).Select(f => new RemoteFilter
            {
                Pattern = f.Pattern,
                RemoteConnectionId = RemoteConnectionModel.RemoteConnectionId,
            }).ToList();

        var removedRules = RemoteConnectionModel.Filters.Where(r => ExcludeFilters.Exists(f => f.Pattern == r.Pattern) ==
        false).Select(r => r).ToList(); ;

        foreach (var rule in removedRules)
        {
            RemoteConnectionModel.Filters.Remove(rule);
        }

        RemoteConnectionModel.Filters.AddRange(newRules);
    }
}
