@inherits LayoutComponentBase
@inject ILoadingService LoadingService
@inject ThemeService ThemeService
@implements IDisposable

<div class="@CurrentThemeClass">
    <header>
        <NavMenu />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <!-- Loading Spinner -->
    @if (isLoading)
    {
        <div class="spinner-overlay">
            <div class="spinner-border text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }

    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.BottomRight" />
    <Modal IsServiceModal="true" />
</div>

@code {
    private bool isLoading = false;

    protected override void OnInitialized()
    {
        // Subscribe to loading events
        LoadingService.OnShow += ShowLoading;
        LoadingService.OnHide += HideLoading;

        // Subscribe to theme changes
        ThemeService.OnThemeChanged += StateHasChanged;
    }

    private string CurrentThemeClass => ThemeService.CurrentTheme == Theme.Dark ? "dark-mode" : "light-mode";

    private Task ShowLoading()
    {
        isLoading = true;
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    private Task HideLoading()
    {
        isLoading = false;
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        LoadingService.OnShow -= ShowLoading;
        LoadingService.OnHide -= HideLoading;
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.BottomRight" />
<Modal IsServiceModal="true" />