@inject ThemeService ThemeService

<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Backy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/DriveManagement">Drive Catalog</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/FileIndex">FileIndex</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Remote">Remote</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/RemoteScan">RemoteScan</NavLink>
                </li>
            </ul>
            <!-- Theme Toggle Button -->
            <button class="btn" @onclick="ToggleTheme" title="Toggle Dark/Light Mode">
                @if (ThemeService.CurrentTheme == Theme.Dark)
                {
                    <img src="/icons/sun.svg" alt="Light Mode" style="height: 24px;" />
                }
                else
                {
                    <img src="/icons/moon-stars.svg" alt="Dark Mode" style="height: 24px;" />
                }
            </button>
        </div>
    </div>
</nav>

@code {
    private void ToggleTheme()
    {
        ThemeService.ToggleTheme();
    }
}