.dark-mode {
    /* ====== Backgrounds ====== */
    --bg-color: #121212;
    --card-bg: #363636;
    --card-header-bg: #1f1f1f;
    --modal-bg-color: #1e1e1e;
    --modal-header-color: #202020;
    --spinner-bg: #00000065;

    /* ====== Icon Colors ====== */
    --icon-filter: invert(1);

    /* ====== Text Colors ====== */
    --text-color: #ffffff;
    --muted-text-color: #aaaaaa;
    --header-color: #ffffff;

    /* ====== Buttons ====== */
    --btn-primary-bg: #bb86fc;
    --btn-primary-border: #bb86fc;
    --btn-primary-text: #000000;
    --btn-primary-hover-bg: #3700b3;
    --btn-primary-hover-border: #3700b3;

    --btn-secondary-bg: #03dac6;
    --btn-secondary-border: #03dac6;
    --btn-secondary-text: #000000;
    --btn-secondary-hover-bg: #018786;
    --btn-secondary-hover-border: #018786;

    --btn-danger-bg: #cf6679;
    --btn-danger-border: #cf6679;
    --btn-danger-text: #000000;
    --btn-danger-hover-bg: #b00020;
    --btn-danger-hover-border: #b00020;

    --btn-info-bg: #66d9ef;
    --btn-info-border: #66d9ef;
    --btn-info-text: #000000;
    --btn-info-hover-bg: #005f73;
    --btn-info-hover-border: #005f73;

    /* ====== Tooltips ====== */
    --tooltip-bg-color: #000000;
    --tooltip-text-color: #ffffff;
    --tooltip-border-color: #ffffff;
    --tooltip-arrow-color: #ffffff;

    /* ====== Search ====== */
    --search-btn-bg-color: #353535;

    /* ====== Tables ====== */
    --table-bg: #414141;
    --table-bg-odd: rgba(255, 255, 255, 0.05);
    --table-text-color: var(--text-color);
    --table-border-color: #444444;
    --table-hover-bg: rgba(255, 255, 255, 0.075);
    --table-active-bg: rgba(255, 255, 255, 0.1);

    /* ====== Input Groups ====== */
    --input-group-text-bg: #106dca;

    /* ====== Other ====== */
    --h-color: var(--header-color);
    --protected-drive-header-bg: #5a4c1d;
    --protected-drive-header-text: #ffffff;
}