.action-btn {
    width: 180px;
    /* Ensures all buttons are the same width */
}

.spinner-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center in viewport */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.02s ease-in-out;
    /* 20ms fade in/out */
}

.spinner-border {
    width: 5rem;
    height: 5rem;
    color: rgb(177, 115, 1);
    /* Make spinner orange */
}

.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 16px;
    border-radius: 8px;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}


.toast-container.show {
    display: block;
    opacity: 1;
    bottom: 40px;
}

.toast-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.truncate {
    display: inline-block;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.chevron-icon {
    transition: transform 0.3s ease;
}

.chevron-button.collapsed .chevron-icon {
    transform: rotate(0deg);
}

.chevron-button:not(.collapsed) .chevron-icon {
    transform: rotate(180deg);
}

.progress-with-border {
    border: 1px solid white;
    border-radius: 5px;
    /* /* Optional: Adds rounded corners */
}

.progress-with-border .progress-bar {
    background-color: #2c2c2c;

}