html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.theme-icon {
  /* This ensures that the icon uses the current text color by default */
  color: inherit;
  transition: filter 0.3s ease;
  filter: var(--icon-filter);
}

.dark-mode,
.light-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  /* background-color: var(--bg-color);
  color: var(--text-color); */
  margin-bottom: 60px;
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-control::placeholder {
  color: var(--muted-text-color);
}

.form-control::-ms-input-placeholder {
  color: #575757;
}

.chevron-icon.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--spinner-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.unprotect-drive-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ====== Navbar ====== */

.navbar {
  background-color: rgb(21, 70, 119) !important;
  --bs-bg-opacity: 1;
  --text-color: #ffffff;
  --header-color: #ffffff;
}

.nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #ffffff;
  ;
}

.navbar-brand {
  color: #ffffff !important;
}

.navbar-brand:hover {
  color: #ffffffcc !important;
}

/* ====== Buttons ====== */

.btn-primary {
  background-color: var(--btn-primary-bg);
  border-color: var(--btn-primary-border);
  color: var(--btn-primary-text);
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg);
  border-color: var(--btn-primary-hover-border);
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  border-color: var(--btn-secondary-border);
  color: var(--btn-secondary-text);
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-hover-bg);
  border-color: var(--btn-secondary-hover-border);
}

.btn-danger {
  background-color: var(--btn-danger-bg);
  border-color: var(--btn-danger-border);
  color: var(--btn-danger-text);
}

.btn-danger:hover {
  background-color: var(--btn-danger-hover-bg);
  border-color: var(--btn-danger-hover-border);
}

.btn-info {
  background-color: var(--btn-info-bg);
  border-color: var(--btn-info-border);
  color: var(--btn-info-text);
}

.btn-info:hover {
  background-color: var(--btn-info-hover-bg);
  border-color: var(--btn-info-hover-border);
}

/* ====== Drive Container ====== */

.drive-management-container {
  background-color: var(--container-bg);
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
  position: relative;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-color);
}

.section-title::before,
.section-title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 2px;
  background-color: var(--text-color);
  opacity: 0.25;
  /* 25% transparency */
}

.section-title::before {
  left: 0;
  background: linear-gradient(to right, var(--text-color) 0%, rgba(255, 255, 255, 0) 100%);
}

.section-title::after {
  right: 0;
  background: linear-gradient(to left, var(--text-color) 0%, rgba(255, 255, 255, 0) 100%);
}

/* ====== Search ====== */

.input-group-text {
  background-color: var(--search-btn-bg-color);
  color: var(--text-color);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

/* ====== Tables ====== */

.table {
  color: var(--table-text-color);
  border-color: var(--table-border-color);
  --bs-table-bg: var(--table-bg);
  --bs-table-color: var(--text-color);
  --bs-table-striped-color: var(--text-color);
  --bs-table-striped-bg: var(--table-bg-odd);
}

.table th,
.table td {
  border-color: var(--table-border-color);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--table-bg-odd);
}

.table-hover tbody tr:hover {
  background-color: var(--table-hover-bg);
}

.table-active,
.table-active>th,
.table-active>td {
  background-color: var(--table-active-bg);
}

/* ====== Cards ====== */

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--card-header-border);
}

.card-header {
  background-color: var(--card-header-bg) !important;
  color: var(--header-color);
  border-bottom: var(--bs-card-border-width) solid var(--card-header-border);
}

.partition-card {
  background-color: var(--card-bg);
  border: 1px solid var(--table-border-color);
}

/* ====== Modals ====== */

.modal-content {
  background-color: var(--modal-bg-color);
  color: var(--text-color);
}

.modal-header,
.modal-footer {
  border-color: var(--modal-header-footer-border);
}

/* probably not correct */
/* .text-bg-light {
  background-color: var(--modal-header-color);
  color: var(--text-color);
} */

.modal-header {
  background-color: var(--modal-header-color) !important;
  color: var(--header-color) !important;
}

.form-control {
  background-color: var(--bg-color);
  color: var(--text-color);
  --bs-body-color: var(--text-color);
}

/* ====== Alert Color ====== */

.alert-success {
  --bs-alert-bg: #0080001a;
  --bs-alert-color: var(--text-color);
  --bs-alert-border-color: #008000;
}

.alert-danger {
  --bs-alert-bg: #ff000024;
  --bs-alert-color: var(--text-color);
  --bs-alert-border-color: #ff0000;
}

/* ====== Protected Drives ====== */

.protected-drive-card .card-header {
  background-color: var(--protected-drive-header-bg);
  color: var(--protected-drive-header-text);
  border-bottom: var(--bs-card-border-width) solid var(--card-header-border);
}

/* ====== Additional Styles ====== */

/* Pool Result Message */
.pool-result-message {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow: auto;
  scrollbar-color: #c9c9c9 #111111;
  scrollbar-width: thin;
}